/* Copyright 2021 Erik Neumann. All Rights Reserved.
* Use of this source code is governed by the Apache License, Version 2.0.
* See the LICENSE file and http://www.apache.org/licenses/LICENSE-2.0.
*/

canvas {
    width: auto; /* default value, to undo width: 100% */
    max-width: 95vw;
    max-height: 95vh;
}

div.control_group {
  display: inline-block;
}

div.control_group label {
  display: block;
  /* "width: max-content" ensures that labels report their true width, not the
   * width of their container.
   */
  width: max-content;
}

div#div_sim, div#div_graph, div#div_time_graph {
  /* "vertical-align: top" ensures that graph top is aligned with sim canvas */
  vertical-align: top;
}